html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    background-color: #333333;
    font-family: 'Roboto Slab', serif;
}

.body_container {
    position: relative;
}

.header__burger {
    display: none;
}

.burger_active {
    color: white;
    background: url('../img/cancel\ \(2\).svg') no-repeat center;
}

header {
    position: sticky;
    top: 0;
    background-color: rgba(128, 122, 122, 0.5);
    margin: 10px;
    border-radius: 5px;
}

.header__container {
    margin: 0 auto;
    max-width: 1180px;
    display: flex;
    align-items: center;
}

.block__container {
    margin: 0 auto;
    max-width: 1180px;
    display: flex;
}

.header__nav {
    margin: 0 auto;
}

.header__nav a:hover {
    text-decoration: none;
    background-color: rgba(153, 152, 152, 0.8);
}

.header__menu {
    display: none;
}

.header__nav a {
    text-decoration: none;
    margin: 0 10px;
    padding: 20px;
    color: black;
    border-radius: 5px;
    background-color: rgb(153, 152, 152, 0.5);
}

main {
    background-color: #C4C4C4;
    box-shadow: 5px 5px 10px 5px black;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
}

aside {
    background-color: #C4C4C4;
    box-shadow: 5px 5px 10px 5px black;
    margin: 5px;
    border-radius: 5px;
}

aside img {
    max-width: 350px;
    border-radius: 5px;
}

.git__img {
    max-height: 30px;
}

.rcs__img {
    max-height: 30px;
}

footer span {
    margin: 50px;
}

.codeexample div {
    overflow: auto;
    border-radius: 5px;
    background-color: #333333;
    padding-left: 10px;
}

.codeexample .html {
    justify-content: center;
    color: aqua;
    display: block;
    margin-left: auto;
    padding-right: 5px;
}

.contact__wraper h5 {
    padding-left: 15px;
}

footer {
    margin: 10px;
    position: sticky;
    bottom: 0;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(128, 122, 122, 0.5);
}


/* .header__burger {
} */

@media only screen and (max-width: 767px) {
    .block__container {
        flex-direction: column;
    }
    footer {
        display: none;
    }
    .header__name h1 {
        display: none;
    }
    .header__burger {
        margin: 0 auto;
        display: block;
        width: 40px;
        height: 40px;
        background: url('../img/menu.svg') no-repeat center;
    }
    .burger_active {
        color: white;
        background: url('../img/cancel\ \(2\).svg') no-repeat center;
    }
    aside img {
        max-width: 300px;
    }
}