#contacts {
    padding: 75px 0;
}

#contacts .container {
    margin: 0 auto;
    position: relative;
    width: 1440px;
    height: 813px;
    /* border: dashed red */
}

#contacts .container h2 {
    position: absolute;
    width: 397px;
    height: 90px;
    left: 0px;
    top: 0px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

#contacts .container hr {
    position: absolute;
    width: 1440px;
    height: 3px;
    left: 0px;
    top: 115px;
    background: #710707;
    border-radius: 0px;
}

#contacts .container .contacts_wraper {
    position: absolute;
    width: 282px;
    height: 244px;
    left: 0px;
    top: 193px;
}

#contacts .container .contacts_wraper h3 {
    position: absolute;
    width: 227px;
    height: 66px;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

#contacts .container .contacts_wraper .p1 {
    position: absolute;
    width: 282px;
    height: 26px;
    left: 0px;
    top: 116px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

#contacts .container .contacts_wraper .p2 {
    position: absolute;
    width: 271px;
    height: 26px;
    left: 0px;
    top: 167px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

#contacts .container .contacts_wraper .p3 {
    position: absolute;
    width: 193.98px;
    height: 26px;
    left: 0px;
    top: 218px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

#contacts .container .image {
    background: url(../img/map_contacts.png);
    position: absolute;
    width: 960px;
    height: 620px;
    left: 480px;
    top: 193px;
}