#gallery {
    width: 100%;
    height: 2200px;
    background: #030303;
    overflow: hidden;
}

#gallery .container {
    margin: 0 auto;
    position: relative;
    width: 1440px;
    height: 2200px;
    background: #030303;
}

#gallery .container h2 {
    margin-top: 75px;
    width: 518px;
    height: 90px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#gallery .container .div-00 {
    position: absolute;
    width: 456px;
    height: 570px;
    left: 0px;
    top: 215px;
    background: url(../img/galery/galery2.jpg);
}

#gallery .container .div-01 {
    position: absolute;
    width: 456px;
    height: 456px;
    left: 492px;
    top: 165px;
    background: url(../img/galery/galery1.jpg);
}

#gallery .container .div-02 {
    position: absolute;
    width: 456px;
    height: 570px;
    left: 984px;
    top: 215px;
    background: url(../img/galery/galery7.jpg);
}

#gallery .container .div-10 {
    position: absolute;
    width: 456px;
    height: 570px;
    left: 0px;
    top: 809px;
    background: url(../img/galery/galery9.jpg);
}

#gallery .container .div-11 {
    position: absolute;
    width: 456px;
    height: 570px;
    left: 492px;
    top: 645px;
    background: url(../img/galery/galery8.jpg);
}

#gallery .container .div-12 {
    position: absolute;
    width: 456px;
    height: 456px;
    left: 984px;
    top: 809px;
    background: url(../img/galery/galery10.jpg);
}

#gallery .container .div-20 {
    position: absolute;
    width: 456px;
    height: 456px;
    left: 0px;
    top: 1403px;
    background: url(../img/galery/galery4.jpg);
}

#gallery .container .div-21 {
    position: absolute;
    width: 456px;
    height: 570px;
    left: 492px;
    top: 1239px;
    background: url(../img/galery/galery3.jpg);
}

#gallery .container .div-22 {
    position: absolute;
    width: 456px;
    height: 456px;
    left: 984px;
    top: 1289px;
    background: url(../img/galery/galery15.jpg);
}

#gallery .container .div-30 {
    position: absolute;
    width: 456px;
    height: 100%;
    left: 0px;
    top: 1883px;
    background: url(../img/galery/galery6.jpg) no-repeat;
}

#gallery .container .div-31 {
    position: absolute;
    width: 456px;
    height: 100%;
    left: 492px;
    top: 1833px;
    background: url(../img/galery/galery5.jpg) no-repeat;
}

#gallery .container .div-32 {
    position: absolute;
    width: 456px;
    height: 100%;
    left: 984px;
    top: 1769px;
    background: url(../img/galery/galery12.jpg) no-repeat;
}