header {
    background-color: #030303;
}

.header {
    /* border: rgb(51, 255, 0) solid; */
    width: 1440px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    background-color: #030303;
}

.logo {
    position: absolute;
    width: 199px;
    height: 33px;
    left: 0px;
    top: 59px;
}

.logo h1 {
    position: absolute;
    width: 125px;
    height: 31px;
    left: 74px;
    top: 2px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.logo-nav ul {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 775px;
    height: 26px;
    left: 665px;
    top: 62px;
    /* border: tomato solid; */
}

header .logo-nav a {
    color: #ffffff;
    display: inline;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    font-family: Roboto;
    color: #FFFFFF;
}