header {
    background-color: #030303;
}

header .header {
    width: 1440px;
    height: 150px;
    margin: 0 auto;
    background-color: #030303;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header .logo h1 {
    display: inline;
    margin: 0 0 0 25px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

header .header .logo-nav ul {
    display: flex;
    justify-content: space-between;
    width: 775px;
    height: 26px;
}

header .header .logo-nav a {
    color: #ffffff;
    display: inline;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    font-family: Roboto;
    color: #FFFFFF;
}

header .header .logo-nav .visiting:hover {
    color: #9D8665;
}

header .header .logo-nav .explore:hover {
    color: #9D8665;
}

header .header .logo-nav .video:hover {
    color: #9D8665;
}

header .header .logo-nav .gallery:hover {
    color: #9D8665;
}

header .header .logo-nav .tickets:hover {
    color: #9D8665;
}

header .header .logo-nav .contacts:hover {
    color: #9D8665;
}