#paralax .container {
    border: tomato solid;
}

#paralax .container div {
    margin: 0 auto;
    /* width: 1920px; */
    height: 400px;
    top: 7430px;
    background-position: center;
    background: url(../img/parallax2.jpg);
    background-size: cover;
    background-attachment: fixed;
}