#video {
    width: 100%;
    padding: 75px 0;
}

#video .container {
    margin: 0 auto;
    width: 1440px;
    height: 1246px;
    /* border: dashed red */
}

#video .container .head {
    width: 1440px;
    height: 90px;
    /* border: dashed red; */
    display: flex;
    justify-content: space-between;
}

#video .container .head h2 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
    /* border: dashed red */
}

#video .container .head p {
    width: 720px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
}

#video .container iframe {
    margin-top: 75px;
    width: 1440px;
    height: 735px;
}

#video .container .list {
    margin-top: 40px;
    height: 254px;
    display: flex;
    justify-content: space-between;
}

#video .container .list .pre-omg-1 {
    background: url(../img/poster1.png);
    width: 452px;
    height: 254px;
}

#video .container .list .pre-omg-2 {
    background: url(../img/poster2.png);
    width: 452px;
    height: 254px;
}

#video .container .list .pre-omg-3 {
    background: url(../img/poster3.png);
    width: 452px;
    height: 254px;
}