html {
    /* background: #030303; */
    scroll-behavior: smooth;
}

body {
    background: #030303;
    height: 8717px;
}

main {
    width: 1440px;
    height: 8717px;
    border: steelblue solid;
    margin: 0 auto;
}

header {
    /* position: absolute; */
    border: rgb(51, 255, 0) solid;
    width: 1440px;
    height: 150px;
    margin: 0 auto;
}

header .logo li {
    color: #ffffff;
    display: inline;
    display: flex;
}

footer {
    border: rgb(51, 255, 0) solid;
    width: 1440px;
    height: 392px;
    margin: 0 auto;
}